.main {
    display: flex;
    height: 100vh;
}

.fileTreeView {
    width: 25%;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    font-size: var(--g-spacing-3);
}

.reviewDiff {
    flex: 1;
    max-height: 75vh;
    overflow-y: auto;
    padding: 16px;
}
