.table :global(th) {
    font-size: var(--g-text-header-2-font-size);
    line-height: var(--g-text-header-2-line-height);
    background: var(--g-color-base-brand);
    color: var(--g-color-text-light-primary);
}

.table :global(td) {
    font-size: var(--g-text-header-1-font-size);
    line-height: var(--g-text-header-1-line-height);
    color: var(--g-color-text-primary);
}

.link_to_course {
    text-decoration: underline;
    cursor: pointer;
}
