# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=hackathon_dev
MYSQL_USER=hackathon
MYSQL_PASSWORD=hackathon
MYSQL_HOST=localhost
MYSQL_PORT=3900

# Prisma
DATABASE_URL="mysql://hackathon:hackathon@localhost:3900/hackathon_dev"

# Сгенерируй сам: openssl rand -base64 32
AUTH_SECRET=

# Для локальной разработки
NEXTAUTH_URL=http://localhost:3000

# GitHub OAuth App
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# GitHub App
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nabcdef\n-----END RSA PRIVATE KEY-----"
GITHUB_INSTALLATION_ID=

# Название организации
GITHUB_ORG=

# Секрет для webhook-подписей (любая случайная строка) - openssl rand -base64 32
GITHUB_WEBHOOK_SECRET=