USE_MOCKS=true

# MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=hackathon_dev
MYSQL_USER=hackathon
MYSQL_PASSWORD=hackathon
MYSQL_HOST=localhost

# Prisma
DATABASE_URL="mysql://hackathon:hackathon@localhost:3306/hackathon_dev"