.noData {
    margin-top: 24px;
    text-align: center;
    color: var(--g-color-text-misc);
}

.eraseFilters {
    margin-top: 12px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
}
