.unknown {
    color: var(--g-color-text-secondary);
}

.pending {
    color: var(--g-color-text-warning);
}

.running {
    color: var(--g-color-text-info);
}

.success {
    color: var(--g-color-text-positive);
}

.failure {
    color: var(--g-color-text-danger);
}
