.sidebar-icon {
    color: #555727;
}

.sidebar-element {
    color: #566166;
}

.sidebar-element:active {
    background: #e1e9ee;
    color: #4d44e3;
}

.sidebar-element:hover {
    background: #e1e9ee;
    color: #4d44e3;
}
