body {
    margin: 0;
}

.box {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 340px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding-top: 50px;
}

.login-button {
    margin: 40px 0 20px 0;
    width: 90%;
}

hr {
    width: 92%;
}

.github-logo {
    width: 30px;
}
