.header {
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 24px;
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;
    z-index: 1;
    box-shadow: 0 20px 40px 0 #2a34390f;
    backdrop-filter: blur(12px);
    width: calc(100% - 40px);
}

.headerRight {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.headerIcons {
    padding-right: 40px;
    border-right: 1px solid #aaaaaa;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.headerIcon {
    width: 20px;
    height: 20px;
}

.avatarIcon {
    width: 30px;
    height: 30px;
    padding: 5px;
    background: #dddddd;
    border-radius: 5px;
}

.header .sidebarIcon {
    width: 20px;
    height: 20px;
}

.header .sidebarIcon:hover {
    cursor: pointer;
}

.header .userPanel {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header .userPanelInfo {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    text-align: right;
}

.header .userPanelName {
    font-size: 14px;
    font-weight: 600;
}

.header .userPanelRole {
    float: right;
    border-radius: 12px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.mainContent {
    margin-left: 40px;
    padding: 24px;
    min-height: calc(100vh);
}
