.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--g-spacing-5);
    width: 100%;
}

.headerCard {
    padding: var(--g-spacing-5);
}

.title {
    margin: 0;
}

.alert {
    margin-bottom: 0;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tableCard {
    padding: var(--g-spacing-5);
}

.loader {
    display: flex;
    justify-content: center;
    padding: var(--g-spacing-8) 0;
}
