.container {
    padding: 24px;
}

.title {
    margin-bottom: 24px;
    color: #4d44e3;
}

.coursesList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.empty {
    text-align: center;
    color: #4d44e3;
    border-radius: 8px;
}
